@import url('https://fonts.googleapis.com/css?family=Germania+One');

html
{
  display: block;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgb(46, 46, 75), rgb(8, 7, 17));
  background-size: cover;
  background-repeat: no-repeat;
  
}
body
{
  color: white;
  font-family: 'Germania One', cursive;
}
.header
{
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
}
.title
{
  display: block;
  font-size: 200%;
  margin: 0 auto;
  text-align: center;
}
.footer
{
  display: block;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 30px;
}
#git
{
  display: block;
  margin: 0 auto;
  text-align: center;
}
button
{
  display: block;
  width: 10%;
  height: 20%;
  margin: 0 auto;
  margin-top: 20%;
  background-color: rgba(95, 88, 156, 0.747);
  border: 0px solid rgba(0,0,0,0);
  color: white;
  font-family: 'Germania One', cursive;
  font-size: 200%;
}
#homeButton
{
    display: block;
    position: fixed;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-image: url("https://i.ibb.co/271mvDy/homesymbol-white-00000.png");
    background-size: cover;
}

#app
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#topDiv
{
  display: flex;
  margin: 0 auto;
  width: 750px;
  height: 230px;
  background-color: rgba(95, 88, 156, 0.747);
  border: 1px solid black;
  margin-bottom: 50px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.sideDiv
{
  display: block;
  margin-left: 75px;
  margin-right: 75px;
  width: 375px;
  height: 520px;
  background-color: rgba(95, 88, 156, 0.747);
  border: 1px solid black;
}
.third
{
  display: block;
  width: 30%;
  height: 90%;
  background-color: rgba(109, 104, 156, 0.747);
  border: 1px solid rgba(163, 163, 163, 0.582);
}
#selected
{
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
#turn
{
  font-size: 300%;
  margin: 0px;
}
h2
{
  color: rgb(172, 170, 170);
}
h4
{
  color: rgb(172, 170, 170);
  font-size: 110%;
  padding-top: 5px;
  margin-bottom: 10px;
}
h5
{
  color: rgb(172, 170, 170);
  padding-bottom: 5px;
  margin-top: 5px;
}
p
{
  margin: 0px;
}
.message
{
  margin: 0 auto;
  display: block;
  background-color: rgba(122, 119, 155, 0.411);
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;
}
.form
{
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 90%;
}
#textbox
{
  display: block;
  height: 40px;
  width: 225px;
  margin: 0;
  background-color: rgba(163, 163, 163, 0.541);
  border: 0px;
  margin-right: 15px;
}
#send
{
  display: block;
  margin: 0px;
  height: 40px;
  width: 80px;
  font-size: 150%;
  background-color: rgba(114, 104, 207, 0.747);
}
#chat
{
  position: relative;
}



.white
{
  background-color: rgb(231, 203, 165);
}
.black
{
  background-color: rgb(158, 100, 61);
}
.block
{
  display: block;
  width: 65px;
  height: 65px;
  background-size: cover;
}
.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.wrap
{
  flex-wrap: wrap !important;
}
.bb
{
  background-image: url("../images/bb.png");
}
.bk
{
  background-image: url("../images/bk.png");
}
.bn
{
  background-image: url("../images/bn.png");
}
.bp
{
  background-image: url("../images/bp.png");
}
.bq
{
  background-image: url("../images/bq.png");
}
.br
{
  background-image: url("../images/br.png");
}
.wb
{
  background-image: url("../images/wb.png");
}
.wk
{
  background-image: url("../images/wk.png");
}
.wn
{
  background-image: url("../images/wn.png");
}
.wp
{
  background-image: url("../images/wp.png");
}
.wq
{
  background-image: url("../images/wq.png");
}
.wr
{
  background-image: url("../images/wr.png");
}
.wt
{
  background-image: url("../images/wt.png");
}
.bt
{
  background-image: url("../images/bt.png");
}
.empty
{
  background-image: rgba(0,0,0,0);
}
.possible
{
  background-color: rgb(188, 228, 255);
}
.possiblekill
{
  background-color: rgb(255, 188, 188);
}
.selected
{
  background-color: rgb(129, 205, 255);
}

























/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .image-gallery {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .image-gallery {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .image-gallery {
    column-count: 2;
  }
}

