@import url('https://fonts.googleapis.com/css?family=Germania+One');

html
{
  display: block;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgb(46, 46, 75), rgb(8, 7, 17));
  background-size: cover;
  background-repeat: no-repeat;
  
}
body
{
  color: white;
  font-family: 'Germania One', cursive;
  margin-top: 20%;
}
.header
{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
}
.title
{
  display: block;
  font-size: 200%;
  margin: 0 auto;
  text-align: center;
}
.footer
{
  display: block;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 30px;
}
#git
{
  display: block;
  margin: 0 auto;
  text-align: center;
}
button
{
  display: block;
  width: 10%;
  height: 20%;
  margin: 0 auto;
  margin-top: 20%;
  background-color: rgba(95, 88, 156, 0.747);
  border: 0px solid rgba(0,0,0,0);
  color: white;
  font-family: 'Germania One', cursive;
  font-size: 200%;
}

#homeButton
{
    display: block;
    position: fixed;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-image: url("https://i.ibb.co/271mvDy/homesymbol-white-00000.png");
    background-size: cover;
}





.white
{
  background-color: rgb(231, 203, 165);
}
.black
{
  background-color: rgb(158, 100, 61);
}
.block
{
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;
}
.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.bb
{
  background-image: url("../images/bb.png");
}
.bk
{
  background-image: url("../images/bk.png");
}
.bn
{
  background-image: url("../images/bn.png");
}
.bp
{
  background-image: url("../images/bp.png");
}
.bq
{
  background-image: url("../images/bq.png");
}
.br
{
  background-image: url("../images/br.png");
}
.wb
{
  background-image: url("../images/wb.png");
}
.wk
{
  background-image: url("../images/wk.png");
}
.wn
{
  background-image: url("../images/wn.png");
}
.wp
{
  background-image: url("../images/wp.png");
}
.wq
{
  background-image: url("../images/wq.png");
}
.wr
{
  background-image: url("../images/wr.png");
}
.empty
{
  background-image: rgba(0,0,0,0);
}
.possible
{
  background-color: rgb(188, 228, 255);
}
.possiblekill
{
  background-color: rgb(255, 188, 188);
}
.selected
{
  background-color: rgb(129, 205, 255);
}

























/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .image-gallery {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .image-gallery {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .image-gallery {
    column-count: 2;
  }
}

