@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import url('https://fonts.googleapis.com/css?family=Cairo');
html
{
  display: block;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgb(46, 46, 75), rgb(8, 7, 17));
  background-size: cover;
  background-repeat: repeat;

}
body
{
  color: white;
  font-family: 'Germania One', cursive;
}
.header
{
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
}
.title
{
  display: block;
  font-size: 200%;
  margin: 0 auto;
  text-align: center;
}
.footer
{
  display: block;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 30px;
}
#git
{
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 150%;
}
#menuButtons
{
  margin-top: 3%;
}
#loading
{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
button
{
  display: block;
  width: 15%;
  margin: 0 auto;
  background-color: rgba(95, 88, 156, 0.747);
  border: 0px solid rgba(0,0,0,0);
  color: white;
  font-family: 'Germania One', cursive;
  font-size: 220%;
}
.optionButton
{
  display: block;
  width: 107px;
  margin: 0 auto;
  background-color: rgba(95, 88, 156, 0.747);
  border: 0px solid rgba(0,0,0,0);

  font-family: 'Germania One', cursive;
  font-size: 113%;
}
#top-bottom
{
  position: absolute;
  display: flex;
  left: 0px;
  bottom: 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}
#moveAssist
{
  color: white;
}
p.about
{
  display: block;
  width: 50%;
  word-wrap: normal;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 150%;
}
a.button
{
  display: block;
  width: 15%;
  margin: 0 auto;
  background-color: rgba(95, 88, 156, 0.747);
  border: 0px solid rgba(0,0,0,0);
  color: white;
  font-family: 'Germania One', cursive;
  font-size: 220%;
  text-decoration: none;
  text-align: center;
}
#menuTitle
{
  font-size: 400%;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
}
button:hover
{
  background-color: rgba(137, 126, 230, 0.747);
}
a.button:hover
{
  background-color: rgba(137, 126, 230, 0.747);
}

#aboutbutton
{
  display: block;
  width: 300px;
  height: 70px;
  margin: 0 auto;
  background-color: rgba(95, 88, 156, 0.747);
  border: 0px solid rgba(0,0,0,0);
  color: white;
  font-family: 'Germania One', cursive;
  font-size: 250%;
}
.add-margin
{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#homeButton
{
    display: block;
    position: fixed;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-image: url("https://i.ibb.co/271mvDy/homesymbol-white-00000.png");
    background-size: cover;
}

#topDiv
{
  display: flex;
  margin: 0 auto;
  width: 562px;
  height: 172px;
  background-color: rgba(95, 88, 156, 0.747);
  border: 1px solid black;
  margin-bottom: 50px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
.sideDiv
{
  position: relative;
  display: block;
  margin-left: 75px;
  margin-right: 75px;
  width: 280px;
  height: 390px;
  background-color: rgba(95, 88, 156, 0.747);
  border: 1px solid black;
  border-radius: 20px;
}
.third
{
  display: block;
  width: 30%;
  height: 90%;
  background-color: rgba(109, 104, 156, 0.747);
  border: 1px solid rgba(163, 163, 163, 0.582);
  border-radius: 20px;
}
.deadcontainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#selected
{
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 57px;
  height: 57px;
  margin: 0 auto;
}
#gameID {
  font-size: 98%;
  color: white;
  font-family: 'Cairo', sans-serif;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bolder;
  margin-top: 0px;
  background-color: rgba(95, 88, 156, 0.747);
  padding-left: 5px;
  padding-right: 5px;
  width: 225px;
  display: block;
}
.dead
{
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 45px;
  text-align: right;
  font-size: 150%;
  height: 45px;
  margin-right: 11.875px;
  margin-left: 11.875px;
}
.off
{
  opacity: .3;
}


#noplayermessages
{
  display: block;
  background-image: url("../images/sh.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 206px;
  height: 206px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0px;
}
#turn
{
  font-size: 225%;
  margin: 0px;
}
h2
{
  color: rgb(172, 170, 170);
  font-size: 127%;
}
#g
{
  color: rgb(172, 170, 170) !important;
}
h1
{
  color: white;
  font-size: 172%;
  margin-top: 10px;
}
h4
{
  color: rgb(172, 170, 170);
  font-size: 110%;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
h5
{
  color: rgb(172, 170, 170);
  margin-top: 5px;
}
.center
{
  color: white !important;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.col
{
  display: block;
  width: 50%;
  height: 100%;
}
.centered
{
  display: block;
  text-align: center;
  margin: 0 auto;
}
.less-margin
{
  margin-top: 5px;
  margin-bottom: 5px;
}
p
{
  margin: 0px;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}
.message
{
  margin: 0 auto;
  display: block;
  background-color: rgba(128, 120, 218, 0.411);
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
#bottom
{
  position: absolute;
  display: flex;
  left: 0px;
  bottom: 20px;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}
#serverMessage
{
  word-wrap: normal;
  color: rgba(255, 255, 255, 0.671);
  text-align: center;
  margin-top: 0px;
  font-size: 105%;
  font-family: 'Cairo', sans-serif;
}
.form
{
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 90%;
}
#textbox
{
  display: block;
  height: 30px;
  width: 168px;
  margin: 0;
  background-color: rgba(163, 163, 163, 0.541);
  border: 0px;
  margin-right: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 98%;
  color: white;
}
#send
{
  display: block;
  margin: 0px;
  height: 32px;
  width: 60px;
  font-size: 113%;
  background-color: rgba(114, 104, 207, 0.747);
}
#chat
{
  position: relative;
}



.white
{
  background-color: rgb(231, 203, 165);
}
.black
{
  background-color: rgb(158, 100, 61);
}
.white:hover
{
  background-color: rgb(250, 228, 196);
}
.black:hover
{
  background-color:rgb(179, 122, 84);
}

.white.possible
{
  background-color: rgb(162,203,219);
}
.black.possible
{
  background-color: rgb(125,149,166);
}
.white.possible:hover
{
  background-color: rgb(177, 224, 255)
}
.black.possible:hover
{
  background-color: rgb(150, 191, 218)
}
.selected
{
  background-color: rgb(124, 203, 255) !important;
}
.oppselected
{
  background-color: rgb(255, 129, 129) !important;
}
.check
{
  background-color: rgb(255, 93, 93) !important;
}

.losses
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.block
{
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;
}
.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.add-top-margin
{
  margin-top: 20px;
}
.add-more-top-margin
{
  margin-top: 15px;
}
.messageDetails
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  
}
.wrap
{
  flex-wrap: wrap !important;
}
.bb
{
  background-image: url("../images/bb.png");
  color: black;
}
.bk
{
  background-image: url("../images/bk.png");
  color: black;
}
.bn
{
  background-image: url("../images/bn.png");
  color: black;
}
.bp
{
  background-image: url("../images/bp.png");
  color: black;
}
.bq
{
  background-image: url("../images/bq.png");
  color: black;
}
.br
{
  background-image: url("../images/br.png");
  color: black;
}
.wb
{
  background-image: url("../images/wb.png");
  color: white;
}
.wk
{
  background-image: url("../images/wk.png");
  color: white;
}
.wn
{
  background-image: url("../images/wn.png");
  color: white;
}
.wp
{
  background-image: url("../images/wp.png");
  color: white;
}
.wq
{
  background-image: url("../images/wq.png");
  color: white;
}
.wr
{
  background-image: url("../images/wr.png");
  color: white;
}
.wt
{
  background-image: url("../images/wt.png");
}
.bt
{
  background-image: url("../images/bt.png");
}
#bv
{
  display: block;
  width: 150px;
  height: 194px;
  margin: 0 auto;
  margin-top: 90px;
  background-image: url("../images/bv.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#w
{
  color: white;
}
#b
{
  color: black;
}
#wv
{
  display: block;
  width: 150px;
  height: 194px;
  margin: 0 auto;
  margin-top: 90px;
  background-image: url("../images/wv.png");
  background-size: cover;
  background-repeat: no-repeat;
}






.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .image-gallery {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .image-gallery {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .image-gallery {
    column-count: 2;
  }
}


